agot-bg-website/venv
agot-bg-website/static_game
agot-bg-game-server/node_modules
agot-bg-game-server/dist
agot-bg-website-dotnet/**/bin
agot-bg-website-dotnet/**/obj
agot-bg-website-dotnet/**/.vs
.git